<header class="header" id="header">

  <a href="https://www.erudit.org/" title="erudit.org" class="header__logo">
    {% include logo-erudit.svg %}
  </a>

  <ul class="header__menu">
    <li>
      <a href="{{ site.url }}" role="button">FR</a>
    </li>
    <li>
      <a href="{{ site.url }}/en" role="button">EN</a>
    </li>
    <li onclick="openNav()" class="header__menu-btn" role="button">
      &#9776;
      <span class="sr-only">{{ site.toc[page.lang] }}</span>
    </li>
  </ul>
</header>

<nav class="nav" id="nav">
  <a href="javascript:void(0)" onclick="closeNav()" class="nav__close">&times;</a>

  <h2>{{ site.toc[page.lang] }}</h2>
  <ol>
    <li>
      <a href="#cover">{{ site.cover_page[page.lang] }}</a>
    </li>
    {% assign sections=site.sections | where:"lang", page.lang | sort: 'order' %}
    {% for section in sections %}
    <li>
      <a href="#{{ section.ref }}">{{ section.title }}</a>
    </li>
    {% endfor %}
  </ol>

  <h2>{{ site.share[page.lang] }}</h2>
  <ul>
    <li>
      <a href="http://twitter.com/share?text={{ site.title[page.lang] }} – {{ site.subtitle[page.lang] }}&url={{ site.url }}">
        Twitter
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}">
        Facebook
      </a>
    </li>
  </ul>

</nav>
