/**
* PDF / print styling
*/

@media print {

  // Display Boostrap grid
  @for $i from 1 through 12 {

    .col-sm-#{$i} {
      width: #{percentage(round($i*8.33)/100)};
      float: left;
    }

  }

  a[href]:after {
    content: none !important;
  }

  path, rect {
    fill: #ff4242;
  }

  section:before, section:after, footer,
  #equipe-et-gouvernance h2, #equipe-et-gouvernance h3 {
    display: none !important;
  }

  section .print-logo-header {
    display: block;
    margin: 1.5em 0 3.25em 0;
    page-break-before: always !important;
  }

  #presentation h2 {
    height: auto;
    width: auto;
    position: relative;
    font-size: 24px;
    line-height: 1.35;
    margin: 20px 0;
  }

  .presentations + ul > li {

      &:nth-child(2n+1) {
        clear: both;
      }

  }

  #grandes-reussites {

    h3 {
      margin-top: 30px;

      &::before {
        display: inline;
        font-size: 35px;
        line-height: 1.25;
        content: counter(achievements) " — ";
      }

    }

    ol > li {

      &::before, h4 {
        display: inline;
      }

    }

  }

  #bilan-financier {

    h3 {
      font-size: 20px;
      margin-top: 10px;

      + ul {
        display: block !important;
      }

    }

    #produits, #charges, #bilan {

      h4 {
        font-size: 16px;
        margin: 0;

        &::before {
          border: 0;
          padding-bottom: 10px;
        }

      }

      ul {
        font-size: 16px;

        li:nth-child(2) {
          display: block !important;
        }
      }

    }

  }

  #partenaires h2 {
    border: none;
  }

  #autres-partenaires li {

    &:nth-child(3n+1) {
      clear: both;
    }

  }

}
