.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > li {
    margin-bottom: $spacing-04;

    strong {
      display: block;
      @include typescale-03;
    }

    li strong {
      margin-top: $spacing-02;
      @include typescale-04;
    }

    a {
      display: block;
      padding: $spacing-03 0 0 0;
      margin: 0 $spacing-04 0 0;
      border-top: 5px solid;
      border-radius: 0;
      background: none;

      &:hover, &:active, &:focus {
        border-radius: 0;
        background: none;
      }
    }
  }

  // Display in two columns
  &--2-col {
    > li {
      width: 48%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }

  // Display in three columns
  &--3-col {
    > li {
      width: 31%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }

  // Display in four columns
  &--4-col {
    > li {
      width: 23%;

      @media (max-width: 767px) {
        width: 48%;
      }
    }
  }

  // Display in five columns
  &--5-col {
    > li {
      width: 18%;

      @media (max-width: 767px) {
        width: 48%;
      }
    }
  }

}
