// page header nav

.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 33px;  // logo height
  width: 100%;
  background-color: $ecru;
  transition: top 0.3s;
  -webkit-box-shadow: 0 3px 5px rgba($black, 0.15);
  box-shadow: 0 3px 5px rgba($black, 0.15);

  &__logo {
    padding-left: 4vw;
    display: inline-block;
  }

  &__menu {
    padding-right: 4vw;
    display: inline-block;
    @include unstyled-list;

    li {
      display: inline-block;
      cursor: pointer;
      line-height: 33px; // logo height

      // TOC link
      &:last-child {
        @include font-medium;
      }

      &:not(:last-child) {
        margin-right: $spacing-03;
      }
    }
  }
}
