// sections

.section {
  padding: $spacing-05 4vw;

  h2 {
    margin-top: 0;
  }

  ul, ol {
    @include unstyled-list;
  }

  p, ul, ol {
    @media (min-width: 1024px) {
      width: 66.666667%;
    }
  }

  // Highlighter link styles
  a {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba($mint, 0.1),
      rgba($yellow, 0.7) 4%,
      rgba($yellow, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &:hover, &:active, &:focus {
      background-image: linear-gradient(
        to right,
        rgba($orange, 0.1),
        rgba($orange, 0.7) 4%,
        rgba($orange, 0.3)
      );
    }
  }

  &--with-bg-pattern {
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
}
