<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body id="body">

    {% include header.html %}

    <main id="main">

      <header id="cover">
        <h1>
          {{ site.title[page.lang] }} <br/>{{ site.subtitle[page.lang] }}</h1>
      </header>
      <div style="overflow: hidden;">
        {% include svg/post-divider2.svg %}
      </div>

      {% assign sections=site.sections | where:"lang", page.lang | sort: 'order' %}
      {% for section in sections %}

      {% if section.bg_colour %}
      <div style="overflow: hidden;">
        {% if section.divider == 1 %}
        {% include svg/pre-divider1.svg bg_colour=section.bg_colour %}
        {% else %}
        {% include svg/pre-divider2.svg bg_colour=section.bg_colour %}
        {% endif %}
      </div>
      {% endif %}

      <section
        class="section{% if section.bg_pattern %} section--with-bg-pattern{% endif %}"
        id="{{ section.ref }}"
        style="
          {% if section.bg_pattern %}background-color: #EBEBD3; background-image: url('../img/patterns/{{ section.bg_pattern }}.svg');{% endif %}
          {% if section.bg_colour %}background-color: {{ section.bg_colour }};{% endif %}
        "
      >
        <h2>
          {{ section.title }}
          &bull; <a href="https://github.com/sssoz/erudit-rapport-annuel/edit/main/_sections/{{ page.lang }}-0{{ section.order }}-{{ section.ref }}.markdown">Edit</a>
        </h2>
        <div class="content">
          {{ section.content }}
        </div>
      </section>

      {% if section.bg_colour %}
      <div style="overflow: hidden;">
        {% if section.divider == 1 %}
        {% include svg/post-divider1.svg bg_colour=section.bg_colour %}
        {% else %}
        {% include svg/post-divider2.svg bg_colour=section.bg_colour %}
        {% endif %}
      </div>
      {% endif %}

      {% endfor %}

    </main>

    {% include footer.html %}

  </body>

</html>
