#bilan-financier {
  color: #FFF;

  a {
    color: #FFF;
  }

  table {
    margin-bottom: $spacing-05;
    width: 100%;

    @media (min-width: 1024px) {
      width: 75%;
    }
  }

  th {
    @include typescale-03;

    &:first-child {
      text-align: left;
    }
  }

  td:first-child {
    width: 50%;
  }
}
