#consolidation-strategique {
  text-align: center;
  
  p, ul, ol {
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  td:first-child {
    width: 50%;
    font-weight: 700;
  }

  .content {

    @media (min-width: 1024px) {
      padding: $spacing-03 $spacing-06 $spacing-06 $spacing-06;
      width: 66.666667%;
      margin: 0 auto;
    }
  }
}
