#cover {
  padding: 100px 4vw;
  min-height: 100vh;
  background: $pink url('../img/patterns/02.svg') left no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-size: 80vw;
    background-position: bottom right;
  }

  h1 {

  }

  + div svg {
    width: 100%;

    path {
      fill: $pink;
    }
  }
}
