#cover {
  padding: 8vw 4vw;
  min-height: 100vh;
  background: $pink url('../img/patterns/02.svg') bottom right no-repeat;
  background-size: 80vw;

  h1 {

  }

  + div svg {
    width: 100%;

    path {
      fill: $pink;
    }
  }
}
