#operations {
  hr {
    background-color: $mint;
  }

  table {
    margin-bottom: $spacing-05;
    width: 100%;

    @media (min-width: 1024px) {
      width: 75%;
    }
  }

  td {
    &:first-child {
      @include font-medium;
    }

    &:nth-child(3) {
      width: 50%;
    }
  }
}
