#presentation {

  dl {
    @media (min-width: 768px) {
      float: right;
    }
  }

  dt {
    @include font-bold;
  }

  dd {
    margin: 0;
  }

  img {
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }

  a {
    background-image: linear-gradient(
      to right,
      rgba($orange, 0.1),
      rgba($orange, 0.7) 4%,
      rgba($orange, 0.3)
    );

    &:hover, &:active, &:focus {
      background-image: linear-gradient(
        to right,
        rgba($pink, 0.1),
        rgba($pink, 0.7) 4%,
        rgba($pink, 0.3)
      );
    }
  }
}
