#presentation {

  dl {
    @media (min-width: 768px) {
      float: right;
    }
  }

  dt {
    font-weight: 600;
  }

  dd {
    margin: 0;
  }

  img {
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }

  a {
    background-image: linear-gradient(
      to right,
      rgba($red, 0.1),
      rgba($red, 0.7) 4%,
      rgba($red, 0.3)
    );
  }
}
