#technologies {
  hr {
    background-color: $blue;
  }

  @media (min-width: 768px) {
    hr {
      margin: $spacing-05 auto;
      width: 15vw;
    }

    // Right-align 2ne + 4th content blocks
    h3:nth-of-type(even), p:nth-of-type(even) {
      text-align: right;
      margin-right: 0;
      margin-left: 33.33333%
    }
  }
}
