// Variables for colour palette

$yellow:    #FFB600;
$orange:    #FF7101;
$pink:      #FEA19A;
$red:       #FF4242;
$ecru:      #EBEBD3;
$mint:      #DBF4D7;
$blue:      #0460A9;
$black:     #252525;
